@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.background {
  background: url(../images/15.jpg) bottom center / cover no-repeat;
  min-height: 920px;
  width: 100%;
  margin: 0;
  
}

.container {
  text-align: center;
  color: #fff;
  justify-content: center;
}

.flex container {
  margin: 0;
}

.header {
  text-align: center;
  color: black;
  padding-top: 30px;
  padding-bottom: 50px;
  font: poppins;
}

.column {
  flex-direction: column;
  -ms-flex-align: center;
  padding-bottom: 10px;
}

.form {
  text-align: center;
  color: #fff;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.page-footer {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.card {
  justify-content: center;
  background-color: rgb(238 185 89 / 12%);
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  border: 0.0000001px yellow;
  max-width: 500px;
  font-size: 25px;
}

.card2 {
  justify-content: center;
  text-align: center;
}

.form {
  display: flexbox;
  margin-top: 30px;
}
