@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.background {
  background: url(../images/4.jpg) bottom center / cover no-repeat;
  min-height: 750px;
  width: 100%;
  margin: 0;
}

.container {
  text-align: center;
}